    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Curso</th>
                <th>Alumno</th>
                <th>Profesor</th>
                <th>Asignatura</th>
            </tr>
        </thead>
        <tbody>
            @for (matricula of matriculas; track matricula.id) {
                <tr>
                    <td>{{ matricula.id }}</td>
                    <td>{{ matricula.curso }}</td>
                    <td>{{ matricula.alumno }}</td>
                    <td>{{ matricula.asignatura }}</td>
                    <td>{{ matricula.notaMedia }}</td>
                </tr>
            }
        </tbody>
    </table>