<header>
    <h1>Gestion del intituto</h1>
    <nav>
        <ul>
            <li><a routerLink="/alumno">Alumnos</a></li>
            <li><a routerLink="/profesor">Profesores</a></li>
            <li><a routerLink="/asignatura">Asignaturas</a></li>
            <li><a routerLink="/matricula">Matriculas</a></li>
            <li><a routerLink="/matriculas-nota-mayor7">Notas ≥ 7</a></li>
            <li><a routerLink="/asignatura-base-de-datos">Asignatura Base de Datos</a></li>
        </ul>
    </nav>
</header>